body{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 100vh;
    background-color:rgba(12, 20, 241, 0.1)

}
.outside
{
   /* height: 90%; */
   width:95%;
   box-shadow:rgba(57, 57, 227, 0.1) 0px 4px 16px, rgba(69, 69, 225, 0.1) 0px 8px 24px, rgba(20, 20, 219, 0.1) 0px 16px 56px;
   border-radius: 15px;
   background-color:#fff;
   box-sizing: border-box;
   padding: 20px;
   margin: 20px;
   /* display: flex;
   justify-content: center;
   align-items: center; */
}
p{
  font-weight: 400;
  font-family:'Times New Roman', Times, serif;
}
img{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main{
    display: flex;
}
/* .photo
{
    width: 50px;
} */