body{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 100vh;
    background-color:rgba(12, 20, 241, 0.1)

}
.outside
{
   /* height: 90%; */
   width:95%;
   box-shadow:rgba(57, 57, 227, 0.1) 0px 4px 16px, rgba(69, 69, 225, 0.1) 0px 8px 24px, rgba(20, 20, 219, 0.1) 0px 16px 56px;
   border-radius: 15px;
   background-color:#fff;
   box-sizing: border-box;
   padding: 20px;
   margin: 20px;
   /* display: flex;
   justify-content: center;
   align-items: center; */
}
p{
  font-weight: 400;
  font-family:'Times New Roman', Times, serif;
}
img{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main{
    display: flex;
}
.cta 
{
    padding: 4px 8px;
    font-size: 20px;
    margin-top: 20px;
    background-color:blueviolet;
    color: white;
    border: 2px solid blueviolet;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
    text-decoration: none;
    
}

.cta:hover 
{
    background-color: transparent;
    color: #5b5bb0;
}
a{
    text-decoration: none;
    color:black;
    font-size: 16px;
    font-weight:bold;
    font-style: italic;
}
/* .photo
{
    width: 50px;
} */
